extends layout

block content
    h1(class='bonus')= title

    if (toShow == null)
        h2 No instance to update
    else
        - let vanid = toShow._id
        - let van_color = toShow.van_color
        - let van_size = toShow.van_size
        - let van_cost = toShow.van_cost


          div.row(class='vanAttr mb-2')
            div.mr-1 ID is
            div #{vanid}
        - let actionid = "/resource/vans/"+vanid
        form(id='vanForm', action= actionid, method="PUT")
          div.form-group
            label.vanAttr(for='van_color') van Color
            input#van_color(type='text' name='van_color', value= van_color )
          div.form-group
            label.vanAttr(for='van_size') van size
            input#van_size(type='text' name='van_size', value= van_size )
          div.form-group
            label.vanAttr(for='van_cost') van cost
            input#van_cost(type='number' name='van_cost', value= van_cost )
          input(type="submit")
        script.
          document.forms['vanForm'].addEventListener('submit', (event) => {
            event.preventDefault();
                // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
             method: 'PUT',
             body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
             return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
             alert("Update succeded")
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
             alert("Update failed " + error )
            });
          });